version: "3"
services:
  haproxy:
    build: haproxy
    networks:
      frontend:
      urlredir:
    ports:
      - "443:443"
      - "80:80"
  httpd:
    build: wadeshome
    ports:
      - "8081"
    environment:
      - NGINX_HOST=wadeslab.tk
      - NGINX_PORT=8081
    networks:
      urlredir:
        aliases:
          - home.lab
  jenkins:
    build: jenkins
    volumes:
      - ./jenkins/data:/var/jenkins_home
    networks:
      urlredir:
        aliases:
          - jenkins.lab
    ports:
      - "8080"
networks:
  frontend:
  urlredir:
