version: "3"
services:
  haproxy:
    build: haproxy
    networks:
      frontend:
      httpd_net:
      jenkins_net:
      portainer_net:
    ports:
      - "443:443"
      - "80:80"
  httpd:
    build: wadeshome
    networks:
      httpd_net:
        aliases:
          - home
  jenkins:
    build: jenkins
    volumes:
      - /var/jenkins_home
    networks:
      jenkins_net:
        aliases:
          - jenkins
  portainer:
    image: portainer/portainer
    cap_add:
      - SYS_PTRACE
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - 'portainer_data:/data'
    networks:
      portainer_net:
        aliases:
          - portainer
networks:
  frontend:
  jenkins_net:
  httpd_net:
  portainer_net:
volumes:
  portainer_data: